<div class="p-5">
    <div class="container border border-light rounded shadow p-3 mb-5 bg-white rounded">
        
        <div class="row justify-content-md-center p-4">
            <div class="row justify-content-md-center">            
                <div class="w-100"></div>
                <hr width="75%" />
                <h2 class="text-muted lead">Prohibited by administrative rules.</h2>
                <div class="w-100"></div>
                <p class="text-muted lead"> 403 Forbidden - You don't have permission to access to <span class="text-danger">{{url}}</span> on this server.</p>
                <hr width="75%" />
                <div class="w-100"></div>
                <h1 class="display-2 text-muted lead" >Error 403 - Forbidden</h1>
                <hr width="75%" />
                <div class="w-100"></div>
                <button type="button" class="btn btn-danger btn-lg">TAKE ME BACK HOME</button>
            </div>
        </div>
    </div>
</div>