<!-- Button trigger modal -->
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Registrar nuevo mantenimiento</button>

<hr>
<!---<div class="conteiner" data-spy="scroll">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Numero</th>
        <th scope="col">Fecha del mantenimineto</th>
        <th scope="col">Nombre del escenario</th>
        <th scope="col">Actividad</th>
        <th scope="col">Visualizar</th>   
      </tr>
    </thead>
    <tbody *ngFor="let mantenimineto of mantenimientos; let i = index">
      <tr class="table-Primary">
        <th scope="row">{{i+1}}</th>
        <td>{{escenario.nombreEscenario}}</td>
        <td>{{escenario.tipoEscenario}}</td>
        <td>{{escenario.comunaId}}</td>
        <td>{{escenario.claseEscenario}}</td>
        <td>
            <button class="btn btn-outline-info"  (click)="open(content,escenario)"> View
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
-->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Formulario de mantenimiento</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="mantenimientoForm" (ngSubmit)="onSaveForm()">
      <div class="row">
        <div class="form-group col-12">
          <label for="mantenimientoFecha">Fecha Mantenimiento</label>
          <input formControlName="fecha" id="mantenimientoFecha" type="date" class="form-control"
            placeholder="Ingrese la fecha del mantenimiento" required>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12">
          <label for="comunaId">Comuna</label>
          <select formControlName="comunaId" class="form-control" id="comunaId" required>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>Vereda</option>
          </select>
        </div>
      </div>
      <button id="botonAceptacion" type="submit" [disabled]="!escenarioForm.valid" class="col-md-3  col-12 btn btn-primary">{{accion}}</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancelar</button>
  </div>
</ng-template>

